body
{
	margin: 0;
	padding: 20px;
	font-size: 100%;
}

h1 { margin: 0 0 .5em; }

.example
{
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 2em 2em 0;
	border: 1px dotted red;
	background-image: url(a.jpg);
	background-repeat: no-repeat;
}

/* add rules here */
.example01 { background-position: 0 0; }
.example02 { background-position: left top; }
.example03 { background-position: center center; }
.example04 { background-position: right bottom; }
.example05 { background-position: 40px 100px; }
.example06 { background-position: 50% 50%; }
