body
{
	margin: 0;
	padding: 20px;
	font-size: 120%;
}

table
{
	width: 40em;
	border-collapse: collapse;
}

th,td
{
	padding: .5em;
	border: 1px solid #777;
	text-align: left;
	vertical-align: top;
}

th { background-color: #eee; }

/* add rules here */
h2 { color: green; }
.news { color: blue; }
h2.news { color: orange; }
h2[id] { color: grey; }
h2[class] { color: olive; }
h2[class="news"] { color: lime; }
#news { color: purple; }
h2#news { color: aqua; }
