/* type selectors */
body
{
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
}

h1 { margin: 0; }
h2,h3,h4,h5,h6 { color: green; }

/* class selectors */

/* ID selectors */

/* universal selectors */

/* descendant selectors */

/* child selectors */

/* adjacent sibling selectors */

/* link pseudo-class selectors */
